@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

.regContainer{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.1), #ffe6cc), url(../images/Coffee005.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	width: 90%;
	max-width: 600px;
}

.regTitle, .regInput{
	margin-bottom: 30px;
	position: relative;
}

input, textarea{
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid black;
	color: black;
	background: transparent;
	font-size: 15px;
}

label{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: black;
	cursor: text;
	transition: 0.2s;
}

select{
	size: 45%;
}

button{
	padding: 10px 0;
	color: black;
	outline: none;
	background: transparent;
	border: 1px solid black;
	width: 100%;
	cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
	top: -35px;
	font-size: 14px;
}

h1{
	border-bottom: double;
}
li{
	list-style: none;
}
.regBottom{
	width: 100%;
	height: 10%;
	
	position: absolute;
	bottom: 0;
	
	color: white;
	background-color: black;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo{
	margin-right: 30px;
}
